.projectMainDisplay {
    height: 85%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    background-color: black;
}

.carousel {
    cursor: grab;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.carousel:active {
    cursor: grabbing;
}

.carouselCover {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.activeCover {
    height: 100%;
    cursor: grab;
    display: flex;
    justify-content: center;
}

.inactiveCover {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.carouselInfoText {
    position: absolute;
    margin: 0;
    color: #f6f1e6;
    transform: translateY(-100%);
    padding-bottom: 5px;
}

.projectCard {
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.projectTitle {
    margin: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Rubik';
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    /* Doesn't allow any overflow text, and converts any to ... to fit. Applies even if there's spaces rather than breaking to a new line. */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.projectDescription {
    white-space: pre-line;
}

.projectDescription a {
    color: #7dcfff;
}

.infoWindow {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0
}

.infoWindow > * {
    font-family: 'Rubik';
    color: #f6f1e6;
    padding: 0 20px;
}

.videoDisplay{
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.mainPlayer {
    width: 95%;
    height: 100%;
}

.bgPlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: blur(10px) brightness(0.5);
}

@media (max-width: 700px) {
    .projectMainDisplay {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .infoWindow {
        width: 100%;
        padding: 100px 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(10px);
    }

    .videoDisplay {
        width: 100%;
        max-height: 60%;
        height: auto;
    }

    .minimizedSection {
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .minimizedSection > * {
        font-family: 'Rubik';
        color: #f6f1e6;
    }

    .minimizedButton {
        width: 200px;
        height: 30px;
        color: black;
        background-color: #f6f1e6;
        border: none;
        border-radius: 50px;
    }

    .spacer-top {
        flex-grow: 2;
    }

    .spacer-middle {
        flex-grow: 0.5;
    }

    .spacer-bottom {
        flex-grow: 1.5;
    }
}