html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    max-width: 100%; /* 100% instead of 100vw because 100vw excludes the scrollbar which creates overflow */
    max-height: 100svh;
    height: 100svh;
    width: 100%;
    scroll-snap-align: start;
}

.hero-welcome-screen {
    background: linear-gradient(45deg, #b8875b, #d6ae7b, #cbb092, #bb8f76);
    background-size: 400% 400%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: gradient 10s infinite;
}

@keyframes gradient {
    0% {background-position: 0% 100%;}
    50% {background-position: 100% 0%;}
    100% {background-position: 0% 100%;}
}

.hero-image {
    display: block;
    object-fit: cover;
}

.hero-message-box {
    position: absolute;
    bottom: 5%;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    border: solid 5px white;
    border-radius: 0px 10px 10px 10px;
    width: 800px;
    cursor: pointer;
}

.hero-name-box {
    cursor: default;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 70px;
    border: solid 5px white;
    top: 0%;
    transform: translate(-5px, -100%);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.hero-name-text {
    margin: 0px 20px 0px 20px;
    font-size: 30px;
    color: #f6f1e6;
    font-family: 'Rubik';
}

.hero-message {
    margin: 20px;
    font-size: 25px;
    color: #f6f1e6;
    font-family: 'Rubik';
}

.hero-next-blinker {
    margin: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-top: 16px solid #f6f1e6;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    animation: next-blink 1s infinite alternate;
}

@keyframes next-blink {
    from {opacity: 0.4}
    to {opacity: 1}
}

.about-me {
    background-color: black;
}

@media (max-width: 1023px) {

    .hero-message-box {
        max-width: 90%;
    }

    .hero-message {
        font-size: 20px;
    }
}