body {
    /* The ultimate fix to mobile address bars hiding and causing resize issues because the avaialble height changes */
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    height: 100%;
    width: 100%;
    transform: translateY(0%);
    transition: transform 0.2s linear;
}

.sectionUp {
    transform: translateY(-100%);
}

.hero-welcome-screen {
    background: linear-gradient(45deg, #b8875b, #d6ae7b, #cbb092, #bb8f76);
    background-size: 400% 400%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow: hidden;
    animation: gradient 10s infinite;
}

.about-me {
    background: linear-gradient(to bottom, #050517 0%, #0b0f2a 40%, #131a3a 100%);
    position: absolute;
    top: 0%;
    z-index: 4;
}

.my-projects {
    position: absolute;
    top: 0%;
    z-index: 3;
}

.website-info {
    background: gray;
    position: absolute;
    top: 0%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}