.navbar {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    animation: navbarFadeIn 1s ease forwards;
}

@keyframes navbarFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nameLogo img {
    cursor: pointer;
    max-height: 80px;
    /* Replacing img's default display of inline to block helps center the img vertically */
    display: block;
}

.navLinks {
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middleNav {
    /* Position absolute allows us to arrange it to the center of the navbar, left 50% positioned the top left
       corner of middleNav 50% from the left which is the middle. Then we translate it 50% to the left so the
       center of middleNav is now the one that's 50% away from the left, making it center. White space no wrap
       makes it so the texts don't stack on top of each other when the screen gets smaller. */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.navLinks li {
    list-style-type: none;
    cursor: pointer;
    color: #f6f1e6;
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
    padding: 20px;
}

.navLinks li:hover {
    color: #a45e3b;
}

.rightNav {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.signInButton {
    background-color: transparent;
    cursor: pointer;
    border-radius: 100px;
    padding: 10px 20px;
    color: #f6f1e6;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    border: solid 2px #f6f1e6;
}

.signInButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1023px) {
    .rightNav {
        margin-right: 15px;
    }

    .hamburgerButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .hamburgerIcon,
    .hamburgerIcon::before,
    .hamburgerIcon::after {
        background-color: white;
        width: 25px;
        height: 4px;
    }

    .hamburgerIcon::before,
    .hamburgerIcon::after {
        content: '';
        position: absolute;
        transition: 0.5s;
    }

    .hamburgerIcon {
        position: relative;
    }

    .hamburgerIcon::before {
        top: -8px;
    }

    .hamburgerIcon::after {
        bottom: -8px;
    }

    /* Hamburger Menu transition to X after click */

    .rightNav.rightNavMobileActive .hamburgerIcon {
        background-color: transparent;
    }

    .rightNav.rightNavMobileActive .hamburgerIcon::before {
        top: 0;
        transform: rotate(45deg);
    }

    .rightNav.rightNavMobileActive .hamburgerIcon::after {
        top: 0;
        transform: rotate(135deg);
    }

    .middleNav {
        /* Remove unnecessary desktop transform as we're using navLink's align item to center it now that our width is fullscreen */
        transform: unset;
        /* Transform middleNav to a full screen div with a dark backdrop */
        position: fixed;
        background-color: transparent;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        /* Position it to the center of the full screen vertically */
        display: flex;
        align-items: center;
        /* Temporarily hide it till expanded */
        visibility: hidden;
        /* Transition that triggers when middleNav becomes active to fade in bg color */
        transition: background-color 0.5s ease;
    }

    .middleNavMobileActive {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .navLinks {
        flex-direction: column;
    }
}

/* For smaller width mobile devices */
@media (max-width: 374px) {
    .nameLogo img {
        max-height: 70px;
    }
}



/* == SIGN IN POPUP STYLES == */



.clickableLink {
    color: blue;
    cursor: pointer;
}

.signInOnly {
    display: none !important;
}

.signInPopup {
    position: fixed;
    z-index: 150;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease, visibility 0.5s ease;
}

.signInPopup * {
    font-family: 'Rubik';
}

.signInPopupActive {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.8);
}

.signInPopupInactive {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.signInMenu {
    position: fixed;
    width: 600px;
    max-width: 90%;
    height: 600px;
    background-color: #eddcc9;
    z-index: 150;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 50px;
}

.signInMenu>*,
.signInMenu>form>* {
    width: 100%;
}

.signInPopupActive .signInMenu {
    transform: translateY(0px);
    opacity: 1;
}

.signInPopupInactive .signInMenu {
    transform: translateY(-30px);
    opacity: 0;
}

.signInPill {
    cursor: pointer;
    border-radius: 1000px;
    height: 50px;
    border: solid 1px;
    padding: 0px 20px;
    margin: 20px 0 20px 0;
}

.closeButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.xIcon,
.xIcon::after {
    width: 20px;
    height: 5px;
    background-color: black;
}

.xIcon {
    position: relative;
    transform: rotate(45deg);
}

.xIcon::after {
    content: '';
    position: absolute;
    transform: rotate(90deg);
}

.signInHeaderText {
    margin: 0;
}

.signInDescriptionText {
    margin: 5px 0 20px 0;
}

.rememberMe {
    display: flex;
    align-items: center;
    margin: 0;
}

.resendVerificationCodeText {
    margin: 0;
}

.disableResend {
    color: gray;
    cursor: not-allowed;
}

.forgetPasswordText {
    margin: 0;
}

.toggleSignInOut {
    margin: 0;
}

/* For smaller width mobile devices */
@media (max-width: 374px) {
    .signInDescriptionText {
        font-size: 13px;
    }
}